doctype html
html
  head
    title!= title
    link(rel='icon', type='image/png', href='static/favicon.ico')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='static/style.css')
    script(src='https://code.jquery.com/jquery-2.2.3.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    meta(charset='utf-8')
  body.corpus
block content
    nav.navbar.banniere
        .container-fluid
            .navbar-header
                p.navbar-brand-e3 E3 News
                p.navbar-text.slogan Toute l'actu de l'E3 en direct
                form(class="navbar-form navbar-left" role="search")
                    .form-group: input(type="text" class="form-control" placeholder="Search" id="search")
    div.container
        div.content
            h1.expand.col-md-6 <a class="link">Les conférences pré-E3 2017</a>
            h1.expand-video.col-md-6 <a class="link">Direct</a>
            ul.expand-content.row
              div.col-md-4
                  li <b>EA</b>: <i>samedi 10 juin à 22h</i>
                  li <b>Xbox</b> : <i>dimanche 11 juin à partir de 23h00</i>
                  li <b>Bethesda</b> : <i>lundi 12 juin à partir de 3h30</i>
              div.col-md-4
                  li <b>PC Gaming Show</b> : <i>lundi 12 juin à partir de 19h00</i>
                  li <b>Ubisoft</b> : <i>lundi 12 juin à partir de 22h00</i>
                  li <b>PlayStation</b> : <i>mardi 13 juin à partir de 3h00</i>
              div.col-md-4
                  li <b>Nintendo Spotlight E3 2017</b> : <i>mardi 13 juin à partir de 18h00</i>
                  li <b>Devolver Digital</b> : <i>lundi 12 juin à 7h00</i>

            <iframe class="expanded-video" src="https://player.twitch.tv/?channel=nintendofr" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>
            table.table.table-default
                thead
                    tr
                        th News
                        th Date
                        th Source
                tbody
                each article in articles
                    tr
                        td: a(href=article.link target="_blank" class="link") #{article.title}
                        td= article.published
                        case article.feed.name
                            when "jeuxvideo.com": td: img(src="static/jvcom.png" height="50" width="50")
                            when "IGN France": td: img(src="static/ign.png" height="50" width="50")
                            when "Gameblog": td: img(src="static/test.jpg" height="50" width="50")
                            when "L\'actu d\'IndieMag": td: img(src="static/indiemag.png" height="50" width="50")
                            when "Gamekyo.com  News": td: img(src="static/gamekyo.jpeg" height="50" width="50")
                            when "Podcasts – Gaminfo.fr": td: img(src="static/gaminfo.jpg" height="50" width="50")
                            when "Nintendo-Town.fr": td: img(src="static/ntown.png" height="50" width="50")
                            when "JeuxVideo-Live - News PS4, Xbox One, Switch, WiiU, PS3, PC, 3DS, PS Vita 24/7": td: img(src="static/jvl.jpg" height="50" width="50")
                            default: td: img(src="static/gkult.png" height="50" width="50")

    script(src='static/sort.js')
    div.footer
