doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title E3NEWS - ACTUALITES E3 SUR PLAYSTATION XBOX ET NINTENDO
    meta(name="description" content="Aggregation de flux RSS sur l'actualité jeux vidéo et articles d'analyse sur les contenus jeux vidéo")
    meta(name="author" content="LeyluIAA")
    meta(name="keywords" content="E3,news, rss, nintendo, xbox, microsoft")
    link(rel='icon', type='image/png', href='static/favicon.ico')
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.13/css/all.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css")
    link(rel='stylesheet', href='static/style.css')
  body.corpus
block content
    nav.bg_navbar
        div.navbar-brand
            a(class="logo" href="https://www.e3news.fr")
                p.E3 E3
                p.NEWS NEWS
        div.search-bar
            input(class="input is-rounded" type="text" placeholder="Recherchez des news" id="search")
        div.navbar-end
            div.filters-wrapper
                div.filters
                    p.conf.expand
                        img(src="https://www.e3expo.com/wp-content/uploads/2018/01/E3Logo_Nav-1.svg" alt="E3 logo officiel" height="190" width="50")
                    p.control
                        i.fab.fa-xbox.fa-2x.xbox
                    p.control
                        i.fab.fa-playstation.fa-2x.playstation
                    p.control
                        i.fab.fa-nintendo-switch.fa-2x.nintendo
                
    div.container
        div.content
            ul.expand-content.list-group.row.conf__list
              div.col-md-4
                  li.list-group-item <b>EA</b>: <i>9 juin 20h00</i>
                  li.list-group-item <b>Xbox</b> : <i>10 juin 22h00</i>
                  li.list-group-item <b>Bethesda</b> : <i>11 juin 3h30</i>
              div.col-md-4
                  li.list-group-item <b>Square Enix</b> : <i>11 juin 19h00</i>
                  li.list-group-item <b>Ubisoft</b> : <i>11 juin 22h00</i>
                  li.list-group-item <b>PlayStation</b> : <i>12 juin 3h00</i>
              div.col-md-4
                  li.list-group-item <b>Nintendo Spotlight</b> : <i>12 juin 18h00</i>
                  li.list-group-item <b>PC Gaming Show</b> : <i>12 juin 0h00</i>
                  li.list-group-item <b>Devolver</b> : <i>11 juin 5h00</i>

            h1.title Les dernières news jeux vidéo
            table.table.table-default.fixedtable.tableaucentre
                thead
                    tr
                        th News
                        th Date
                        th Source
                tbody
                each article in articles
                    tr
                        td: a(href=article.link target="_blank" class="link") #{article.title}
                        td= article.published
                        case article.feed.name
                            when "jeuxvideo.com": td: img(src="static/jvcom.jpg" height="40" width="50" data-toggle="tooltip" data-placement="left" title="jeuxvideo.com" alt="logo de jeuxvideo.com")
                            when "IGN France": td: img(src="static/ign.png" height="50" width="50" data-toggle="tooltip" data-placement="left" title="IGN France" alt="logo de IGN")
                            when "Dernières news - Nintendo France": td: img(src="static/nintendofr.ico" height="50" width="50" data-toggle="tooltip" data-placement="left" title="Nintendo.fr" alt="logo de Nintendo.fr")
                            when "Gameblog": td: img(src="static/test.jpg" height="50" width="50" data-toggle="tooltip" data-placement="left" title="gameblog" alt="logo de gameblog")
                            when "L\'actu d\'IndieMag": td: img(src="static/indiemag.png" height="50" width="50" data-toggle="tooltip" data-placement="left" title="L\'actu d\'IndieMag" alt="logo d'Indiemage")
                            when "Gamekyo.com  News": td: img(src="static/gamekyo.jpeg" height="50" width="50" data-toggle="tooltip" data-placement="left" title="Gamekyo.com news" alt="logo de Gamekyo")
                            when "Podcasts – Gaminfo.fr": td: img(src="static/gaminfo.jpg" height="50" width="50" data-toggle="tooltip" data-placement="left" title="Podcasts - Gaminfo.fr" alt="logo de Gaminfo")
                            when "Nintendo-Town.fr": td: img(src="static/ntown.png" height="50" width="50" data-toggle="tooltip" data-placement="left" title="Nintendo-Town.fr" alt="logo de Nintendo-Town.fr")
                            default: td: img(src="static/gkult.png" height="50" width="50" data-toggle="tooltip" data-placement="left" title="Gamekult" alt="logo de Gamekult")

    script(src='https://code.jquery.com/jquery-2.2.3.min.js')
    script(src='static/sort.js')
    div.footer
