doctype html
html
  head
    title!= title
    link(rel='icon', type='image/png', href='static/favicon.ico')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='static/style.css')
    script(src='https://code.jquery.com/jquery-2.2.3.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    meta(charset='utf-8')
  body.corpus
block content
    nav.navbar.banniere.navbar-fixed-top
        .container-fluid
            .navbar-header
                button( class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1" aria-expanded="false")
                    span.sr-only Toggle navigation
                    span.icon-bar.iconcolor
                    span.icon-bar.iconcolor
                    span.icon-bar.iconcolor
                p.navbar-brand-e3 E3 News
            .collapse.navbar-collapse#navbar-1
                form(class="navbar-form navbar-left" role="search")
                    .form-group: input(type="text" class="form-control" placeholder="Search" id="search")
                ul.nav.navbar-nav.navbar-right
                  li.menu.expand
                    a conf E3 2018
                  li.menu#xbox
                    a Microsoft
                  li.menu#playstation
                    a Sony
                  li.menu#nintendo
                    a Nintendo
    div.container
        div.content
            ul.expand-content.list-group.row
              div.col-md-4
                  li.list-group-item <b>EA</b>: <i>9 juin 20h00</i>
                  li.list-group-item <b>Xbox</b> : <i>10 juin 22h00</i>
                  li.list-group-item <b>Bethesda</b> : <i>11 juin 3h30</i>
              div.col-md-4
                  li.list-group-item <b>Square Enix</b> : <i>11 juin 19h00</i>
                  li.list-group-item <b>Ubisoft</b> : <i>11 juin 22h00</i>
                  li.list-group-item <b>PlayStation</b> : <i>Non disponible</i>
              div.col-md-4
                  li.list-group-item <b>Nintendo Spotlight</b> : <i>12 juin 18h00</i>
                  li.list-group-item <b>Devolver Digital</b> : <i>Non disponible</i>
                  li.list-group-item <b>PC Gaming Show</b> : <i>Non disponible</i>

            table.table.table-default.fixedtable
                thead
                    tr
                        th News
                        th Date
                        th Source
                tbody
                each article in articles
                    tr
                        td: a(href=article.link target="_blank" class="link") #{article.title}
                        td= article.published
                        case article.feed.name
                            when "jeuxvideo.com": td: img(src="static/jvcom.jpg" height="40" width="50" data-toggle="tooltip" data-placement="left" title="jeuxvideo.com")
                            when "IGN France": td: img(src="static/ign.png" height="50" width="50" data-toggle="tooltip" data-placement="left" title="IGN France")
                            when "Dernières news - Nintendo France": td: img(src="static/nintendofr.ico" height="50" width="50" data-toggle="tooltip" data-placement="left" title="Nintendo.fr")
                            when "Gameblog": td: img(src="static/test.jpg" height="50" width="50" data-toggle="tooltip" data-placement="left" title="gameblog")
                            when "L\'actu d\'IndieMag": td: img(src="static/indiemag.png" height="50" width="50" data-toggle="tooltip" data-placement="left" title="L\'actu d\'IndieMag")
                            when "Gamekyo.com  News": td: img(src="static/gamekyo.jpeg" height="50" width="50" data-toggle="tooltip" data-placement="left" title="Gamekyo.com news")
                            when "Podcasts – Gaminfo.fr": td: img(src="static/gaminfo.jpg" height="50" width="50" data-toggle="tooltip" data-placement="left" title="Podcasts - Gaminfo.fr")
                            when "Nintendo-Town.fr": td: img(src="static/ntown.png" height="50" width="50" data-toggle="tooltip" data-placement="left" title="Nintendo-Town.fr")
                            default: td: img(src="static/gkult.png" height="50" width="50" data-toggle="tooltip" data-placement="left" title="Gamekult")

    script(src='static/sort.js')
    div.footer
