doctype html
html
  head
    title!= title
    link(rel='icon', type='image/png', href='static/favicon.ico')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='static/style.css')
    script(src='https://code.jquery.com/jquery-2.2.3.min.js')
    script(src='../sort.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    meta(charset='utf-8')
  body.corpus
block content
    nav.navbar.banniere
        .container-fluid
            .navbar-header
                p.navbar-brand-e3 E3 News
                p.navbar-text.slogan Toute l'actu de l'E3 en direct
  div.container
    div.content
      table.table.table-default
        thead
          tr
            th Source
            th Date
            th News
        tbody
            each article in articles
                tr
                    case article.feed.name
                        when "jeuxvideo.com": td: img(src="static/jvcom.png" height="50" width="50")
                        when "IGN France": td: img(src="static/ign.png" height="50" width="50")
                        when "Gameblog": td: img(src="static/test.jpg" height="50" width="50")
                        when "L\'actu d\'Indie Mag": td: img(src="static/indiemag.png" height="50" width="50")
                        when "Gamekyo.com  News": td: img(src="static/gamekyo.jpeg" height="50" width="50")
                        default: td: img(src="static/gkult.png" height="50" width="50")
                    td= article.published
                    td: a(href="#{article.link}" target="_blank" class="link") #{article.title}

  div.footer