@font-face {
    font-family: open_24;
    src: url(open_24.ttf);
}

@font-face {
    font-family: rounded_elegance;
    src: url(rounded_elegance.ttf);
}

.banniere {
    background-color: #5d819b;
    color: white;
    font-family: open_24;
}

.slogan {
    font-size: 22px;
}

.corpus {
    background-color: #ffffff;
    font-family: rounded_elegance;
    color: #333;
    font-size: 17px;
}

.navbar-brand-e3 {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 36px;
    line-height: 20px;
}

.link:link {
    color: #333;
}

.link:focus, .link:hover {
    text-decoration: none;
    color: blue;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}
