@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
    font-family: quantum;
    src: url(Quantum.otf);
}

.iconcolor {
    background-color: white;
}

.expand a {
    cursor: pointer;
}

.expand-video a {
    cursor: pointer;
}

.yt {
  /*background-color: #5d819b;*/
  color: #333;
}

.corpus {
    background-color: #ffffff;
    font-family: 'Roboto';
    color: #333;
    font-size: 17px;
}

.link:link {
    color: #333;
}

.link:focus, .link:hover {
    color: blue;
}

.expand-content, .expanded-video {
    padding-top: 2rem;
    display: none;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top:3.5rem;
}

.tableaucentre {
  margin-top: 0.5rem;
}

.conf__list {
  display: none;
  list-style: none;
  text-decoration: none;
}

body {
    margin: 0;
  }

/***** style with bulma */

  @import url('https://fonts.googleapis.com/css?family=Roboto');
.transparent {
  background-color: transparent !important;
}
body {
  margin: 0;
}
@media screen and (min-width: 720px) {
  .logo {
    /*color: #c77b4f;*/
    display:flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    line-height: 1.5;
    padding: .5rem .75rem;
    position: relative;
    font-family: 'quantum';
    font-size: 2.5rem;
  }

  .E3 {
    color: #0073C1;
  }

  .NEWS {
    color: #F96D31;
  }

  .brand {
      align-items: stretch;
      display: flex;
      flex-shrink: 0;
      min-height: 3.25rem;
  }

  .bg_navbar {
      background: #202020;/*linear-gradient(#222,#000);*/
      left: 0;
      top: 0;
      position: fixed;
      right: 0;
      z-index: 30;
      align-items: stretch;
      display: flex;
      justify-content: space-between;
  }
  .navbar-item {
    color: #FFF;
  }
  .navbar-end {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .filters-wrapper {
      display: flex;
      flex-grow: 0;
      flex-shrink: 0;
      line-height: 1.5;
      padding: .5rem .75rem;
      position: relative;
      align-items: center;
      color: #fff;
  }

  .filters {
    display: flex;
    align-items: flex-start;
  }

  .control {
    font-size: 1rem;
    position: relative;
    text-align: left;
    margin-right: 0.7rem;
  }

  .xbox {
    color: #82C738;
    cursor: pointer;
  }

  .xbox:hover {
    color: #A9E159;
    cursor:pointer;
  }

  .playstation {
    color: #6790F8;
    cursor: pointer;
  }

  .playstation:hover {
    color: #B4C8FD;
    cursor:pointer;
  }

  .nintendo {
    color: #FF7A2C;
    cursor: pointer;
  }

  .nintendo:hover {
    color: #FFA656;
    cursor:pointer;
  }

  .conf {
    height:35px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    cursor: pointer;
  }

  .search {
    cursor:pointer;
  }
  .search_input {
    display: none;
  }
  .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 720px) {
  .logo {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    line-height: 1.5;
    position: relative;
    font-family: 'quantum';
    font-size: 2.3rem;
    width: 90%;
  }

  .E3 {
    color: #0073C1;
  }

  .NEWS {
    color: #F96D31;
  }
  .brand {
      align-items: stretch;
      display: flex;
      flex-shrink: 0;
      min-height: 3.25rem;
  }

  .bg_navbar {
      background: linear-gradient(#222,#000);
      left: 0;
      top: 0;
      position: fixed;
      right: 0;
      z-index: 30;
      align-items: stretch;
      display: flex;
      justify-content: stretch;
      flex-direction: column;
  }
  .navbar-brand {
    align-self: center;
    width: 90%;
  }
  .navbar-item {
    color: #FFF;
  }
  .navbar-end {
    display: flex;
    justify-content: stretch;
    align-items: center;
  }
  .filters-wrapper {
      display: flex;
      width: 100%;
      line-height: 1.5;
      padding: .5rem .75rem;
      align-items: center;
      justify-content: center;
      color: #fff;
  }

  .filters {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }

  .control {
    font-size: 1rem;
    position: relative;
    text-align: left;
    margin-right: 0.7rem;
  }

  .xbox {
    color: #82C738;
    cursor: pointer;
  }

  .xbox:hover {
    color: #A9E159;
    cursor:pointer;
  }

  .playstation {
    color: #6790F8;
    cursor: pointer;
  }

  .playstation:hover {
    color: #B4C8FD;
    cursor:pointer;
  }

  .nintendo {
    color: #FF7A2C;
    cursor: pointer;
  }

  .nintendo:hover {
    color: #FFA656;
    cursor:pointer;
  }

  .conf {
    height:35px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    cursor: pointer;
  }

  .search {
    cursor:pointer;
  }

  .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    align-content: center;
    align-self: center;    
  }
}
