@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
    font-family: open_24;
    src: url(open_24.ttf);
}

@font-face {
    font-family: rounded_elegance;
    src: url(rounded_elegance.ttf);
}

.banniere {
    background-color: #5d819b;
    color: white;
    font-family: open_24;
}

.menu a{
    color: white;
    cursor: pointer;
}

.menu a:hover{
    color: #333;
    cursor: pointer;
}

.iconcolor {
    background-color: white;
}

.expand a {
    cursor: pointer;
}

.expand-video a {
    cursor: pointer;
}

.yt {
  /*background-color: #5d819b;*/
  color: #333;
}

.corpus {
    background-color: #ffffff;
    font-family: rounded_elegance;
    color: #333;
    font-size: 17px;
}

.link:link {
    color: #333;
}

.link:focus, .link:hover {
    color: blue;
}

.expand-content, .expanded-video {
    padding-top: 2rem;
    display: none;
}


/** add new style for navbar **/
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tableaucentre {
  margin-top: 2rem;
}

body {
    margin: 0;
  }
  
  @media screen and (min-width: 1200px) {
    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-around;
      background: linear-gradient(#493A93,#2F257E);
      color: white;
      height: 4rem;
    }
    
    .navbar__burger, .vertical_pages, .vertical__item, .vertical__link, .overlay__menu {
      display: none;
    }
    .navbar-logo-e3news {
      padding: 1rem;
      height: 3rem;
    }
    .navbar-search {
      padding: 1rem;
      font-size: 1rem;
      text-align: center;
      width: 60%;
    }
  
    #search {
      width: 90%;
      font-family: 'Roboto', cursive;
      color: #222;
      height: 100%;
      font-size: 2.2rem;
      padding-left: 5px;
      border-radius: 0.3rem;
      box-shadow: inset 1px 1px 20px 1px #656565;
      flex-grow: 1;
    }
  
    .navbar-filters {
      display: flex;
      flex-direction: row;
      align-items: center;
      /*height:7rem;*/
      font-family: 'Roboto', cursive;
    }
    
    .navbar-item {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      font-size: 1.2rem;
    }
  
    .navbar-item:hover{
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      font-size: 1.2rem;
      color:rgb(20,20,20);
      cursor:pointer;
    }

    a {
      text-decoration: none;
    }
  }
  
  @media screen and (max-width: 1200px) {
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: linear-gradient(#493A93,#2F257E);
      color: white;
      height: 4rem;
    }
    .navbar-logo-e3news {
      padding: 1rem;
      height: 3rem;
      justify-content: center;
    }
    .navbar-search {
      padding: 1rem;
      font-size: 1rem;
      text-align: center;
      width: 70%;
    }
    #search {
      width: 90%;
      font-family: 'Roboto', cursive;
      color: #222;
      height: 100%;
      font-size: 2.2rem;
      padding-left: 5px;
      border-radius: 0.3rem;
      box-shadow: inset 1px 1px 20px 1px #656565;
      flex-grow: 1;
    }
    .navbar__burger {
      color: white;
      margin: 0 2rem;
      font-size: 2rem;
      height: 3rem;
    }
    .navbar-filters {
      display:none;
    }
    .overlay__menu {
      display: none;
      z-index: 9000;
      background-color: rgba(10, 10, 10, 0.6);
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
    }
  
    .vertical__pages {
      display: none;
      transition: transform 500ms ease 0s;
      z-index: 9000;
      width: 200px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      background: linear-gradient(#493A93,#2F257E);
    }
  
    .vertical__item {
      padding: 1rem;
      color:white;
      font-family: "Roboto", sans-serif;
    }
    .vertical__item:hover {
      padding: 1rem;
      color:rgb(20,20,20);
      font-family: "Roboto", sans-serif;
      cursor:pointer;
    }
    a {
      text-decoration: none;
    }
  }  
